<head>

<!-- Basic Meta -->
<meta charset="utf-8">
<!-- <title>Marek Wydmuch - Homepage</title> -->
<!-- <meta name="description" content="Marek Wydmuch's personal website"> -->
<!-- <meta name="author" content="Marek Wydmuch"> -->

<!-- Mobile Specific -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FONT -->
<link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

<!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
<script src="https://kit.fontawesome.com/c14f3cd524.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ './style.min.css' | relative_url }}">

<!-- Favicon -->
<link rel="icon" type="image/jpg" href="{{ './assets/marek-wydmuch.jpg' | relative_url }}">
  
<!-- SEO and OpenGraph Tags -->
{% seo %}
</head>