<section id="publications" class="container grid-lg">
    <div class="columns">
        <div class="column">
            <h2 class="d-inline-block h-reversed-second"><i class="fa-solid fa-file-lines thinner-second"></i> Scientific publications</h2>
            <ul>
            {% for publication in site.data.publications %}
                <li>
                    <a href="{{ publication.url }}">{{ publication.title }}</a><br>
                    {{ publication.authors }}<br>
                    <i>{{ publication.book }}</i>, {{ publication.year }}<br>
                    {% if publication.note %}
                        Note: {{ publication.note }}<br>
                    {% endif %}
                    {% for link in publication.links %}
                        <span class="nowrap">[<a href="{{ link.url }}">{{ link.text }}</a>]</span>
                    {% endfor %}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</section>