<section id="teaching" class="container grid-lg">
    <div class="columns">
        <div class="column">
            <h2 class="d-inline-block h-reversed-second"><i class="fa-solid fa-chalkboard thinner-second"></i> Teaching</h2>

            <blockquote>
                <cite>The one that learns the most from a course is a teacher.</cite>
                
                <div style="margin-top: 0.5rem; text-align: right;">
                    Wojciech Jaśkowski (my Eng. thesis supervisor)
                </div>
            </blockquote>

            <p>As part of my PhD/being an assistant, I taught/teach a few courses at Poznan University of Technology (PUT) related to the topics of Machine Learning, Artificial Intelligence, Data Science and Big Data:</p>
            <ul>
            <li><strong>Advanced Methods of Computational Intelligence 2021, 2022 and 2023 (lectures + exercises)</strong><br>
                based on
                <i>Richard S. Sutton and Andrew G. Barto, Reinforcement Learning: An Introduction</i>
                and selected chapters from
                <i>Stuart Russell and Peter Norvig, Artificial Intelligence A Modern Approach</i>.
            </li>
            <li><strong>Methods of Artificial and Computational Intelligence 2021 (exercises)</strong><br>
                based on selected chapters from
                <i>Stuart Russell and Peter Norvig, Artificial Intelligence A Modern Approach</i>.
            </li>
            <li><strong>Big Data Processing 2019/2020 and Processing of Massive Datasets 2018/2019 (exercises)</strong><br>
                based on selected chapters from
                <i>Jure Leskovec, Anand Rajaraman, Jeff Ullman, Mining of Massive Datasets</i>.
            </li>
            <li><strong>Information Theory and Lossless Compression Methods 2018 (exercises)</strong><br>
                based on the first chapters from
                <i>David J.C. MacKay, Information Theory, Inference, and Learning Algorithms</i>.<br>
                Note: <span class="reverse-second"><i class="fa fa-award"></i>&nbsp;The course was awarded as the best new course in 2018 at the Institute of Computer Science.</span>
            </li>
            </ul>
            <p>If you are my student feel free to contact me via e-mail provided on this website.</p>
        </div>
    </div>
</section>