<section id="software" class="container grid-lg">
    <div class="columns">
        <div class="column col-12">
            <h2>Software</h2>
        </div>
        <div class="column col-4 col-md-4 text-center">
            <h4><a href="http://vizdoom.cs.put.edu.pl">ViZDoom</a></h4>
            Doom-based AI Research Platform for Reinforcement Learning from Raw Visual Information.
            <br>
            <span class="nowrap">[<a href="http://vizdoom.cs.put.edu.pl"><i class="fa fa-globe"></i>&nbsp;www</a>]</span>
            <span class="nowrap">[<a href="https://github.com/mwydmuch/ViZDoom"><i class="fa fa-github"></i>&nbsp;code</a>]</span>
        </div>
        <div class="column col-4 col-md-4 text-center">
            <h4><a href="https://github.com/mwydmuch/napkinXC">napkinXC</a></h4>
            Extremely simple and fast library for extreme multi-class and multi-label classification.
            <br>
            <span class="nowrap">[<a href="https://github.com/mwydmuch/napkinXC"><i class="fa fa-github"></i>&nbsp;code</a>]</span>
        </div>
        <div class="column col-4 col-md-4 text-center">
            <h4><a href="https://github.com/mwydmuch/extremeText">extremeText</a></h4>
            Extension of fastText library for multi-label classification including extreme cases with hundreds of thousands and millions of labels.
            <br>
            <span class="nowrap">[<a href="https://github.com/mwydmuch/extremeText"><i class="fa fa-github"></i>&nbsp;code</a>]</span>
        </div>
    </div>
</section>