<section id="mlinpl" class="container grid-lg">
    <div class="columns">
        <div class="column col-8 col-md-12">
            <h2 class="d-inline-block h-reversed-mlinpl-red"><i class="fa-solid fa-people-group thinner-mlinpl-red"></i> ML in PL</h2>
            <p>
                I'm proud to be a member of the awesome <span class="reverse-mlinpl-red"><a href="https://mlinpl.org/">ML in PL Association</a></span>,
                a non-profit organization devoted to fostering the machine learning community in Poland and around the world.
            </p>
            <p> 
                I co-organized many events in years 2019-2023, such as 
                <span class="reverse-mlinpl-red"><a href="https://conference.mlinpl.org/">ML in PL Conference</a></span> or 
                <span class="reverse-mlss-blue"><a href="https://mlss2023.mlinpl.org/">MLSS^S</a></span> 
                serving as Call for Contributions (Talks and Posters), Website, and IT Infrastructure coordinator.
                I was a member of the management board of the association in 2021 and 2022.
            </p>
            {% comment %}
            <!-- Old text -->
            <p>
                From 2021 I'm a member of the management board of <span class="reverse-mlinpl-red"><a href="https://mlinpl.org/">ML in PL Association</a></span>
                and try to support other members of the association in the organization of great machine learning-related events, 
                including taking care of the recruitment of new members of the association 
                and leading the development of new websites for
                <span class="reverse-mlinpl-red"><a href="https://conference2022.mlinpl.org/">ML in PL Conference 2022</a></span>,
                <span class="reverse-mlinpl-red"><a href="https://conference2023.mlinpl.org/">ML in PL Conference 2023</a></span> and 
                <span class="reverse-mlss-blue"><a href="https://mlss2023.mlinpl.org/">MLSS^S 2023</a></span>
            </p>
            <p>
                Before, I co-organized
                <span class="reverse-mlinpl-purple"><a href="https://conference2019.mlinpl.org/">ML in PL Conference 2019</a></span>,
                <span class="reverse-mlinpl-red"><a href="https://virtual-event.mlinpl.org/">ML in PL Virtual Event 2020</a></span>,
                and <span class="reverse-mlinpl-red"><a href="https://conference2021.mlinpl.org/">ML in PL Conference 2021</a></span>
                serving as Call for Contributions (Talks and Posters) coordinator.
            </p>
            {% endcomment %}
        </div>
        <div class="column col-4 col-md-12 text-center">
            <a href="https://mlinpl.org/">
                <img src="assets/logos/mlinpl-black.svg" alt="ML in PL Association logo" style="width: 80%; height: 100%; max-width: 300px; margin: 1em;">
            </a>
        </div>
    </div>
  </section>