<section id="reviews" class="container grid-lg">
    <div class="columns">
        <div class="column">
            <h2 class="d-inline-block h-reversed-second"><i class="fa-solid fa-magnifying-glass thinner-second"></i> Reviewing scientific papers</h2>
            <p>I try to review at least a dozen of papers each year. So far I have served as a reviewer for:</p>
            <ul>
                <li>Conferences:
                    <ul>
                        <li><a href="https://nips.cc/Conferences/2020/ProgramCommittee">NeurIPS 2020</a>,
                            <a href="https://nips.cc/Conferences/2021/ProgramCommittee">2021 (Outstanding Reviewer Award - top 8%)</a>,
                            <a href="https://nips.cc/Conferences/2022/ProgramCommittee">2022 (Top Reviewer Award - top 8%)</a>,
                            and <a href="https://neurips.cc/Conferences/2023/ProgramCommittee">2023</a>
                        </li>
                        <li><a href="https://icml.cc/Conferences/2021/Reviewers">ICML 2021</a>, 
                            <a href="https://icml.cc/Conferences/2022/Reviewers">2022</a>, 
                            <a href="https://icml.cc/Conferences/2023/Reviewers">2023</a>, 
                            and 2024
                        </li>
                        <li><a href="https://iclr.cc/Conferences/2022/Reviewers">ICLR 2022</a>, 
                            <a href="https://iclr.cc/Conferences/2023/ProgramCommittee">2023</a>,
                            and <a href="https://iclr.cc/Conferences/2024/Reviewers">2024</a>
                        </li>
                        <li><a href="https://ijcai20.org/pc_members/">IJCAI 2020</a>, 
                            and <a href="https://ijcai-21.org/program-committee-members/">2021</a>,
                            and also <a href="https://virtual.aistats.org/Conferences/2021/Reviewers">AISTATS 2021</a>
                        </li>
                    </ul>
                </li>
                <li>
                    Journals:
                    <ul>
                        <li>IEEE Transactions on Pattern Analysis and Machine Intelligence (PAMI)</li>
                        <li>Machine Learning Journal</li>
                        <li>Transactions on Machine Learning Research (TMLR)</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>
