<section id="publications" class="container grid-lg">
    <div class="columns">
        <div class="column">
            <h2 class="d-inline-block h-reversed-second"><i class="fa-solid fa-file-lines thinner-second"></i> Scientific publications</h2>
            <ul>
            {% for publication in site.data.publications %}
                {% if publication.id %}
                <li id="publication-{{ publication.id }}">
                {% else %}
                <li>
                {% endif %}
                    <div class="columns">
                        {% if publication.poster_thumbnail %}
                        <div class="column col-8">
                        {% else %}
                        <div class="column col-12">
                        {% endif %}
                            <a href="{{ publication.url }}">{{ publication.title }}</a><br>
                            {{ publication.authors }}<br>
                            {% if publication.book %}
                                <i>{{ publication.book }}</i>, 
                            {% endif %}
                            {{ publication.year }}<br>
                            {% if publication.note %}
                                Note: {{ publication.note }}<br>
                            {% endif %}
                            {% for link in publication.links %}
                                {% assign link_text = link.text %}
                                {% if link.type == "paper-pdf" %}
                                    {% assign link_text = '<i class="fa fa-file-pdf"></i> paper' %}
                                {% elsif link.type == "paper+supp-pdf" %}
                                    {% assign link_text = '<i class="fa fa-file-pdf"></i> paper+supp.' %}
                                {% elsif link.type == "poster-pdf" %}
                                    {% assign link_text = '<i class="fa-custom fa-poster-board" aria-hidden="true"></i> poster' %}            
                                {% elsif link.type == "github" %}
                                    {% assign link_text = '<i class="fa fa-github"></i> code' %}
                                {% elsif link.type == "website" %}
                                    {% assign link_text = '<i class="fa fa-globe"></i> website' %}
                                {% elsif link.type == "docs" %}
                                    {% assign link_text = '<i class="fa fa-book"></i> docs' %}
                                {% elsif link.type == "bibtex" %}
                                    {% assign link_text = '<i class="fa-custom fa-books" aria-hidden="true"></i> bibtex' %}
                                {% elsif link.type == "arxiv" %}
                                    {% assign link_text = '<i class="fa-custom fa-arxiv" aria-hidden="true"></i> arxiv' %}
                                {% endif %}
                                <span class="nowrap">[<a href="{{ link.url }}">{{ link_text }}</a>]</span>
                            {% endfor %}
                        </div>
                        {% if publication.poster_thumbnail %}
                        <div class="column col-4 col-md-12 text-center">
                            <img class="img-side-col" src="{{ publication.poster_thumbnail }}" style="max-height: 8rem;">
                        </div>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</section>