<section id="publications" class="container grid-lg">
    <div class="columns">
        <div class="column">
            <h2 class="d-inline-block h-reversed-second"><i class="fa-solid fa-file-lines thinner-second"></i> Publications</h2>
            <ul>
            <li>
                <a href="https://arxiv.org/abs/2311.05081">Generalized test utilities for long-tail performance in extreme multi-label classification</a><br>
                Erik Schultheis, Marek Wydmuch, Wojciech Kotłowski, Rohit Babbar, Krzysztof Dembczyński<br>
                <i>Proceedings of the 37nd International Conference on Neural Information Processing Systems (NeurIPS 2023)</i>, 2023<br>
                <span class="nowrap">[<a href="https://www.cs.put.poznan.pl/mwydmuch/pdf/2023_generalized_test_utilities_etu_neurips.pdf"><i class="fa fa-file-pdf"></i>&nbsp;paper</a>]</span>
                <span class="nowrap">[<a href="https://www.cs.put.poznan.pl/mwydmuch/pdf/2023_generalized_test_utilities_etu_poster_neurips.pdf"><i class="fa fa-file-image"></i>&nbsp;poster</a>]</span>
                <span class="nowrap">[<a href="https://www.cs.put.poznan.pl/mwydmuch/pdf/mwydmuch_ref.bib"><i class="fas fa-book"></i>&nbsp;bibtex</a>]</span>
            </li>
            <li>
                <a href="https://dl.acm.org/doi/10.1145/3534678.3539466">On Missing Labels, Long-tails and Propensities in Extreme Multi-label Classification</a><br>
                Erik Schultheis, Marek Wydmuch, Rohit Babbar, Krzysztof Dembczyński<br>
                <i>Proceedings of the 28th ACM SIGKDD Conference on Knowledge Discovery and Data Mining (KDD '22)</i>, 2022<br>
                <span class="nowrap">[<a href="https://www.cs.put.poznan.pl/mwydmuch/pdf/2022_xmlc_missing_labels_&_long_tail_kdd.pdf"><i class="fa fa-file-pdf"></i>&nbsp;paper</a>]</span>
                <span class="nowrap">[<a href="https://www.cs.put.poznan.pl/mwydmuch/pdf/2022_xmlc_missing_labels_&_long_tail_poster_kdd.pdf"><i class="fa fa-file-image"></i>&nbsp;poster</a>]</span>
                <span class="nowrap">[<a href="https://www.cs.put.poznan.pl/mwydmuch/pdf/mwydmuch_ref.bib"><i class="fas fa-book"></i>&nbsp;bibtex</a>]</span>
            </li>
            <li>
                <a href="https://dl.acm.org/doi/10.1145/3404835.3463084">Propensity-scored Probabilistic Label Trees</a><br>
                Marek Wydmuch, Kalina Jasinska-Kobus, Rohit Babbar, Krzysztof Dembczyński<br>
                <i>Proceedings of the 44th International ACM SIGIR Conference on Research and Development in Information Retrieval (SIGIR '21)</i>, 2021<br>
                <span class="nowrap">[<a href="https://github.com/mwydmuch/napkinXC"><i class="fa fa-github"></i>&nbsp;code (napkinXC)</a>]</span>
                <span class="nowrap">[<a href="https://www.cs.put.poznan.pl/mwydmuch/pdf/2021_psplt_sigir.pdf"><i class="fa fa-file-pdf"></i>&nbsp;paper</a>]</span>
                <span class="nowrap">[<a href="https://www.cs.put.poznan.pl/mwydmuch/pdf/2021_psplt_poster_sigir.pdf"><i class="fa fa-file-image"></i>&nbsp;poster</a>]</span>
                <span class="nowrap">[<a href="https://www.cs.put.poznan.pl/mwydmuch/pdf/mwydmuch_ref.bib"><i class="fas fa-book"></i>&nbsp;bibtex</a>]</span>
            </li>
            <li>
                <a href="https://proceedings.mlr.press/v130/jasinska-kobus21a.html">Online probabilistic label trees</a><br>
                Kalina Jasinska-Kobus, Marek Wydmuch, Devanathan Thiruvenkatachari, Krzysztof Dembczyński<br>
                <i>Proceedings of the 24th International Conference on Artificial Intelligence and Statistics (AISTATS 2021)</i>, 2021<br>
                <span class="nowrap">[<a href="https://github.com/mwydmuch/napkinXC"><i class="fa fa-github"></i>&nbsp;code (napkinXC)</a>]</span>
                <span class="nowrap">[<a href="https://www.cs.put.poznan.pl/mwydmuch/pdf/2021_oplt_aistats.pdf"><i class="fa fa-file-pdf"></i>&nbsp;paper</a>]</span>
                <span class="nowrap">[<a href="https://www.cs.put.poznan.pl/mwydmuch/pdf/2021_oplt_poster_aistats.pdf"><i class="fa fa-file-image"></i>&nbsp;poster</a>]</span>
                <span class="nowrap">[<a href="https://slideslive.com/38953102/online-probabilistic-label-trees-oplts?ref=speaker-37667-latest"><i class="fa fa-video"></i>&nbsp;AISTATS 2021 talk</a>]</span>
                <span class="nowrap">[<a href="https://slideslive.com/38931292/online-probabilistic-label-trees-oplts?ref=speaker-37667-latest"><i class="fa fa-video"></i>&nbsp;ICML XC 2020 talk</a>]</span>
                <span class="nowrap">[<a href="https://www.cs.put.poznan.pl/mwydmuch/pdf/mwydmuch_ref.bib"><i class="fas fa-book"></i>&nbsp;bibtex</a>]</span>
            </li>
            <li>
                <a href="https://link.springer.com/article/10.1007/s10618-021-00751-x">Efficient set-valued prediction in multi-class classification</a><br>
                Thomas Mortier, Marek Wydmuch, Krzysztof Dembczyński, Eyke Hüllermeier, Willem Waegeman<br>
                <i>Data Mining and Knowledge Discovery</i>, 2021<br>
                <span class="nowrap">[<a href="https://www.cs.put.poznan.pl/mwydmuch/pdf/2021_efficient_set-valued_pred_dami.pdf"><i class="fa fa-file-pdf"></i>&nbsp;paper</a>]</span>
                <span class="nowrap">[<a href="https://www.cs.put.poznan.pl/mwydmuch/pdf/mwydmuch_ref.bib"><i class="fas fa-book"></i>&nbsp;bibtex</a>]</span>
            </li>
            <li>
                <a href="https://arxiv.org/abs/2009.11218">Probabilistic Label Trees for Extreme Multi-label Classification</a><br>
                Kalina Jasinska-Kobus, Marek Wydmuch, Krzysztof Dembczyński<br>
                <i>Submitted to Journal of Machine Learning Research</i>, 2020<br>
                <span class="nowrap">[<a href="https://github.com/mwydmuch/napkinXC"><i class="fa fa-github"></i>&nbsp;code (napkinXC)</a>]</span>
                <span class="nowrap">[<a href="https://www.cs.put.poznan.pl/mwydmuch/pdf/mwydmuch_ref.bib"><i class="fas fa-book"></i>&nbsp;bibtex</a>]</span>
            </li>
            <li>
                <a href="https://papers.nips.cc/paper/2018/hash/8b8388180314a337c9aa3c5aa8e2f37a-Abstract.html">A no-regret generalization of hierarchical softmax to extreme multi-label classification</a><br>
                Marek Wydmuch, Kalina Jasinska-Kobus, Mikhail Kuznetsov, Robert Busa-Fekete, Krzysztof Dembczyński<br>
                <i>Proceedings of the 32nd International Conference on Neural Information Processing Systems (NeurIPS 2018)</i>, 2018<br>
                <span class="nowrap">[<a href="https://github.com/mwydmuch/extremeText"><i class="fa fa-github"></i>&nbsp;code (extremeText)</a>]</span>
                <span class="nowrap">[<a href="https://www.cs.put.poznan.pl/mwydmuch/pdf/2018_xt_neurips.pdf"><i class="fa fa-file-pdf"></i>&nbsp;paper</a>]</span>
                <span class="nowrap">[<a href="https://www.cs.put.poznan.pl/mwydmuch/pdf/2018_xt_poster_neurips.pdf"><i class="fa fa-file-image"></i>&nbsp;poster</a>]</span>
                <span class="nowrap">[<a href="https://www.cs.put.poznan.pl/mwydmuch/pdf/mwydmuch_ref.bib"><i class="fas fa-book"></i>&nbsp;bibtex</a>]</span>
            </li>
            <li>
                <a href="https://arxiv.org/abs/1809.03470">ViZDoom Competitions: Playing Doom From Pixels</a><br>
                Marek Wydmuch, Michał Kempka, Wojciech Jaśkowski<br>
                <i>IEEE Transactions on Games</i>, 2018<br>
                Note: <span class="reverse-second"><a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=9679692"><i class="fa fa-award"></i>&nbsp;2022 IEEE ToG Outstanding Paper Award</a></span><br>
                <span class="nowrap">[<a href="https://www.cs.put.poznan.pl/mwydmuch/pdf/2018_vizdoom_competitions.pdf"><i class="fa fa-file-pdf"></i>&nbsp;paper</a>]</span>
                <span class="nowrap">[<a href="https://www.youtube.com/channel/UC8UghzsxS5uEFUEbvcAWwlQ"><i class="fa fa-youtube"></i>&nbsp;movies</a>]</span>
                <span class="nowrap">[<a href="https://www.cs.put.poznan.pl/mwydmuch/pdf/mwydmuch_ref.bib"><i class="fas fa-book"></i>&nbsp;bibtex</a>]</span>
            </li>
            <li>
                <a href="https://arxiv.org/abs/1605.02097">ViZDoom: A Doom-based AI research platform for visual reinforcement learning</a><br>
                Michał Kempka, Marek Wydmuch, Grzegorz Runc, Jakub Toczek, Wojciech Jaśkowski<br>
                <i>2016 IEEE Conference on Computational Intelligence and Games (CIG 2016)</i>, 2016<br>
                Note: <span class="reverse-second"><i class="fa fa-award"></i>&nbsp;2016 IEEE CIG The Best Paper Award</span><br>
                <span class="nowrap">[<a href="http://vizdoom.cs.put.edu.pl"><i class="fa fa-globe"></i>&nbsp;www</a>]</span>
                <span class="nowrap">[<a href="https://github.com/mwydmuch/ViZDoom"><i class="fa fa-github"></i>&nbsp;code</a>]</span>
                <span class="nowrap">[<a href="https://www.cs.put.poznan.pl/mwydmuch/pdf/2016_vizdoom.pdf"><i class="fa fa-file-pdf"></i>&nbsp;paper</a>]</span>
                <span class="nowrap">[<a href="https://www.cs.put.poznan.pl/mwydmuch/pdf/mwydmuch_ref.bib"><i class="fas fa-book"></i>&nbsp;bibtex</a>]</span>
            </li>
            </ul>
        </div>
    </div>
</section>