<section id="software" class="container grid-lg">
    <div class="columns" style="margin-bottom: 2rem;">
        <div class="column col-12">
            <h2 class="d-inline-block h-reversed-second"><i class="fa-solid fa-code thinner-second"></i> Software</h2>
        </div>
        <div class="column col-4 col-md-12 text-center">
            <img class="img-side-col" src="{{ './assets/logos/vizdoom.png' | relative_url }}" alt="ViZDoom logo">
        </div>
        <div class="column col-8 col-md-12 text-center">
            <p>
                ViZDoom is a library that allows creating reinforcement learning environments based on the Doom engine.
                It is primarily intended for research in machine visual learning and deep reinforcement learning, in particular. 
                The library is written in C++ and provides Python API and wrappers for popular Gymnasium/OpenAI Gym interface. 
                It is multi-platform, lightweight, fast, and provides many useful tools for creating custom environments.
            </p>
            <span class="nowrap">[<a href="https://vizdoom.farama.org"><i class="fa-solid fa-book"></i>&nbsp;docs</a>]</span>
            <span class="nowrap">[<a href="https://github.com/mwydmuch/ViZDoom"><i class="fa fa-github"></i>&nbsp;code</a>]</span>
            <span class="nowrap">[<a href="http://vizdoom.cs.put.edu.pl"><i class="fa fa-globe"></i>&nbsp;website</a>]</span>
        </div>
    </div>
    <div class="columns" style="margin-bottom: 2rem;">
        <div class="column col-4 col-md-12 text-center">
            <img class="img-side-col" src="https://raw.githubusercontent.com/mwydmuch/xCOLUMNs/master/docs/_static/xCOLUMNs_logo.png" alt="xCOLUMNs logo">
        </div>
        <div class="column col-8 col-md-12 text-center">
            <p>
                xCOLUMNs is a small Python library that aims to implement different methods for the optimization 
                of a general family of metrics that can be defined on a confusion matrix.
                The library provides an efficient implementation of the different optimization methods 
                that easily scale to problems at a large scale.
            </p>
            <span class="nowrap">[<a href="https://xcolumns.readthedocs.io"><i class="fa-solid fa-book"></i>&nbsp;docs</a>]</span>
            <span class="nowrap">[<a href="https://github.com/mwydmuch/xCOLUMNs"><i class="fa fa-github"></i>&nbsp;code</a>]</span>
        </div>
    </div>
    <div class="columns">
        <div class="column col-6 col-md-12 text-center">
            <h4><a href="https://github.com/mwydmuch/napkinXC">napkinXC</a></h4>
            Extremely simple and fast library for extreme multi-class and multi-label classification.
            <br>
            <span class="nowrap">[<a href="https://github.com/mwydmuch/napkinXC"><i class="fa fa-github"></i>&nbsp;code</a>]</span>
        </div>
        <div class="column col-6 col-md-12 text-center">
            <h4><a href="https://github.com/mwydmuch/extremeText">extremeText</a></h4>
            Extension of fastText library for multi-label classification including extreme cases with hundreds of thousands and millions of labels.
            <br>
            <span class="nowrap">[<a href="https://github.com/mwydmuch/extremeText"><i class="fa fa-github"></i>&nbsp;code</a>]</span>
        </div>
    </div>
</section>