<!-- Intro Header -->
<!-- Header/title -->
<header class="main-header">

    <!-- Animated background -->
    <div id="background-container" class="background-container">
        <canvas id="background" class="background faded-25"></canvas>
    </div>

    <div class="header-content">
    <div class="container grid-lg">
        <div class="columns">
            <div class="column">
                <div id="me">
                    <div id="photo" class="section">
                        <img alt="Marek Wydmuch" src="{{ './assets/marek-wydmuch.jpg' | relative_url }}"/>
                    </div>
            
                    <div id="name" class="section reverse-second">
                        <h1 class="d-inline" style="font-size: 1.8rem;">Hi! <span style="font-size: 1.5rem;">I'm Marek Wydmuch</span></h1>
                    </div>
            
                    <div id="about" class="section">
                        <p class=" text-center"><span class="reverse-second"><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;Ph.D. student</span>
                            at <span class="reverse-second"><i class="fa fa-university" aria-hidden="true"></i>&nbsp;<a href="https://www.put.poznan.pl/en">Poznan University of Technology, Poland</a></span>,
                            interested mostly in various <span class="reverse-second"><i class="fa fa-robot" aria-hidden="true"></i>&nbsp;Machine Learning</span> topics.
                            My current research is focused on <span class="reverse-second"><i class="fa fa-sitemap" aria-hidden="true"></i>&nbsp;Extreme Classification</span>.
                            I'm supervised by <span class="reverse-second"><i class="fa fa-user-tie" aria-hidden="true"></i>&nbsp;<a href="https://www.cs.put.poznan.pl/kdembczynski/">Krzysztof Dembczyński</a></span>.
                            <span class="reverse-second"> I <i class="fa fa-heart"></i>&nbsp;<i class="fa fa-computer"></i></span><br>
                            <span class="reverse-ua-gradient">I stand with Ukraine 🇺🇦</span>
                        </p>
                    </div>
            
                    <div id="profiles" class="section">
                        {% comment %}
                        <a href="{{ './blog' | relative_url }}" class="profile-link"><i class="fa fa-pen-to-square"></i>&nbsp;My blog</a>
                        {% endcomment %}
                        <a href="https://www.linkedin.com/in/marekwydmuch" class="profile-link"><i class="fa fa-linkedin"></i>&nbsp;LinkedIn</a>
                        <a href="https://github.com/mwydmuch" class="profile-link"><i class="fa fa-github"></i>&nbsp;GitHub</a>
                        <a href="https://scholar.google.com/citations?user=lMXyoEAAAAAJ" class="profile-link"><!--<i class="fa fa-custom fa-google-scholar">--><i class="fa-brands fa-google-scholar"></i>&nbsp;Google Scholar</a>
                        <a href="mailto:mwydmuch@cs.put.poznan.pl" class="profile-link"><i class="fa fa-envelope"></i>&nbsp;E-mail</a>
                        <a href="https://www.cs.put.poznan.pl/mwydmuch/pdf/mwydmuch_cv.pdf" class="profile-link"><i class="fa fa-file"></i>&nbsp;CV</a>
                    </div>
                    <a href="#main-content">
                          <i class="fa fa-angle-down fa-beat" style="--fa-animation-duration: 2s; font-size: 2.5em;"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div id="background-controls">
        Background: <span id="background-name"></span> | 
        <span class="nowrap">
            [<a id="background-show"><i class="fas fa-eye"></i>&nbsp;show</a>]
            [<a id="background-settings"><i class="fas fa-cog"></i>&nbsp;settings</a>]
            [<a href="animations"><i class="fas fa-images"></i>&nbsp;gallery</a>]
        </span>
    </div>
    
    </div>
</header>