<section id="news" class="container grid-lg">
    <div class="columns">
        <div class="column">
            <h2 class="d-inline-block h-reversed-second"><i class="fa-solid fa-newspaper thinner-second"></i> Most recent news & events</h2>
            <input type="checkbox" class="read-more-state" id="more-news" />
            <div class="timeline read-more-wrap">
                {% for news in site.data.news limit: 7 %}
                <div class="timeline-item" id="timeline-news-{{ news.date }}">
                  <div class="timeline-left">
                    <span class="timeline-date">{{ news.date }}</span>
                    <a class="timeline-icon" href="#timeline-news-{{ news.date }}"></a>
                  </div>
                  <div class="timeline-content">
                    {{ news.text }}
                  </div>
                </div>
                {% endfor %}
                <div class="read-more-target">
                  {% for news in site.data.news offset: 7 %}
                  <div class="timeline-item" id="timeline-news-{{ news.date }}">
                    <div class="timeline-left">
                      <span class="timeline-date">{{ news.date }}</span>
                      <a class="timeline-icon" href="#timeline-news-{{ news.date }}"></a>
                    </div>
                    <div class="timeline-content">
                      {{ news.text }}
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
              [<label style="display: inline-block; margin-top: 0.6rem;" for="more-news" class="read-more-trigger link-style"></label>]
            </div>
        </div>
    </div>
</section>