<section id="news" class="container grid-lg">
    <div class="columns">
        <div class="column">
            <h3>Most recent news & events</h3>
            <div class="timeline">
                {% for news in site.data.news %}
                <div class="timeline-item" id="timeline-news-{{ news.date }}">
                  <div class="timeline-left">
                    <span class="timeline-date">{{ news.date }}</span>
                    <a class="timeline-icon" href="#timeline-news-{{ news.date }}"></a>
                  </div>
                  <div class="timeline-content">
                    {{ news.text }}
                  </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
  </section>