<section id="teaching" class="container grid-lg">
    <div class="columns">
        <div class="column col-8 col-md-12">
            <h2 class="d-inline-block h-reversed-put-blue"><i class="fa-solid fa-chalkboard-user thinner-second"></i> Teaching</h2>

            <blockquote>
                <cite>The one that learns the most from a course is a teacher.</cite>
                
                <div style="margin-top: 0.5rem; text-align: right;">
                    Wojciech Jaśkowski (my Eng. thesis supervisor)
                </div>
            </blockquote>

            <p>As part of my PhD/being an assistant, I teach/taught a few courses at 
                <span class="reverse-put-blue"><i class="fa fa-university"></i>&nbsp;<a href="https://www.put.poznan.pl/en">Poznan University of Technology (PUT), Poland</a></span>
                related to the topics of Machine Learning, Artificial Intelligence, Data Science and Big Data:</p>
        </div>
        <div class="column col-4 col-md-12 text-center">
            <img class="img-side-col" src="{{ './assets/logos/put.svg' | relative_url }}" alt="PUT logo" style="padding: 0 3rem; max-width: 350px;">
        </div>
    </div>
    <div class="columns">
        <div class="column col-12"> 
            <ul>
            <li><strong>Elements of Convex Optimization 2024 and 2025 (classes, in 🇺🇸🇬🇧)</strong><br>
                <!-- loseely based on ... -->
            </li>
            <li><strong>Decision Support Systems 2024 and 2025 (classes, external, in 🇵🇱)</strong><br>
                <!-- based on the topics selected by myself :) -->
            </li>
            <li><strong>Introduction to Machine Learning and Neural Networks 2024 (classes, in 🇵🇱)</strong><br>
                <!-- loseely based on ... -->
            </li>
            <li><strong>Systems That Learn 2024 (classes, in 🇵🇱)</strong><br>
                <!-- loseley based on ... -->
            </li>
            <li><strong>Advanced Methods of Computational Intelligence 2021, 2022 and 2023 (lectures + classes, in 🇵🇱)</strong><br>
                based on
                <i>Richard S. Sutton and Andrew G. Barto, Reinforcement Learning: An Introduction</i>
                and selected chapters from
                <i>Stuart Russell and Peter Norvig, Artificial Intelligence A Modern Approach</i>.
            </li>
            <li><strong>Methods of Artificial and Computational Intelligence 2021 (classes, in 🇵🇱)</strong><br>
                based on selected chapters from
                <i>Stuart Russell and Peter Norvig, Artificial Intelligence A Modern Approach</i>.
            </li>
            <li><strong>Big Data Processing 2019/2020 and Processing of Massive Datasets 2018/2019 (classes, in 🇵🇱)</strong><br>
                based on selected chapters from
                <i>Jure Leskovec, Anand Rajaraman, Jeff Ullman, Mining of Massive Datasets</i>.
            </li>
            <li><strong>Information Theory and Lossless Compression Methods 2018 (classes, in 🇵🇱)</strong><br>
                based on the first chapters from
                <i>David J.C. MacKay, Information Theory, Inference, and Learning Algorithms</i>.<br>
                Note: <span class="reverse-put-blue"><i class="fa fa-award"></i>&nbsp;The course was awarded as the best new course in 2018 at the Institute of Computer Science.</span>
            </li>
            </ul>
            <p>
                All the course materials can be found on PUT's internal e-learning platform (e-Kursy). 
                If you are one of my students, feel free to contact me via e-mail provided on this website.
            </p>
        </div>
    </div>
</section>