<section id="software" class="container grid-lg">
    <div class="columns">
        <div class="column col-12">
            <h2 class="d-inline-block h-reversed-second section-title"><i class="fa-solid fa-code thinner-second" aria-hidden="true"></i> Software</h2>
        </div>
    </div>
    <input type="checkbox" class="read-more-state" id="more-software" />
    <div class="read-more-wrap">
        <div class="columns software-item" style="margin-bottom: 2rem;">
            <div class="column col-4 col-md-12 text-center img-side-col-container">
                <a href="https://vizdoom.farama.org" target="_blank">
                    <img class="img-side-col" src="{{ './assets/logos/vizdoom.png' | relative_url }}" alt="ViZDoom logo">
                </a>
            </div>
            <div class="column col-8 col-md-12 text-center">
                <p>
                    <strong>ViZDoom</strong> is a library for creating reinforcement learning environments based on the Doom engine.
                    It is designed primarily for research in visual learning and deep reinforcement learning.
                    The library is written in C++ and provides a Python API, along with wrappers for the Gymnasium and OpenAI Gym interfaces.
                    It is cross-platform, lightweight, fast, and includes tools for creating custom environments.
                </p>
                <span class="nowrap">[<a href="https://vizdoom.farama.org" target="_blank"><i class="fa-solid fa-book" aria-hidden="true"></i>&nbsp;docs</a>]</span>
                <span class="nowrap">[<a href="https://github.com/mwydmuch/ViZDoom" target="_blank"><i class="fa fa-github" aria-hidden="true"></i>&nbsp;code</a>]</span>
                <span class="nowrap">[<a href="http://vizdoom.cs.put.edu.pl" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i>&nbsp;website</a>]</span>
            </div>
        </div>
        <div class="columns software-item" style="margin-bottom: 2rem;">
            <div class="column col-4 col-md-12 text-center img-side-col-container">
                <a href="https://xcolumns.readthedocs.io" target="_blank">
                    <img class="img-side-col" src="https://raw.githubusercontent.com/mwydmuch/xCOLUMNs/master/docs/_static/xCOLUMNs_logo.png" alt="xCOLUMNs logo">
                </a>
            </div>
            <div class="column col-8 col-md-12 text-center">
                <p>
                    <strong>xCOLUMNs</strong> is a small Python library for optimizing a broad family of metrics
                    defined on a confusion matrix.
                    It provides efficient implementations of several optimization methods that scale to large problems.
                </p>
                <span class="nowrap">[<a href="https://xcolumns.readthedocs.io" target="_blank"><i class="fa-solid fa-book" aria-hidden="true"></i>&nbsp;docs</a>]</span>
                <span class="nowrap">[<a href="https://github.com/mwydmuch/xCOLUMNs" target="_blank"><i class="fa fa-github" aria-hidden="true"></i>&nbsp;code</a>]</span>
            </div>
        </div>
        <div class="read-more-target">
            <div class="columns software-item">
                <div class="column col-4 col-md-12 text-center img-side-col-container">
                    <a href="https://github.com/mwydmuch/napkinXC" target="_blank">
                        <img class="img-side-col" src="{{ './assets/logos/napkinxc.png' | relative_url }}" alt="napkinXC logo">
                    </a>
                </div>
                <div class="column col-8 col-md-12 text-center">
                    <p>
                        <strong>napkinXC</strong> is an extremely simple and fast library for extreme multi-class and multi-label classification.
                    </p>
                    <span class="nowrap">[<a href="https://github.com/mwydmuch/napkinXC" target="_blank"><i class="fa fa-github" aria-hidden="true"></i>&nbsp;code</a>]</span>
                </div>
            </div>
            <div class="columns software-item">
                <div class="column col-4 col-md-12 text-center img-side-col-container">
                    <a href="https://github.com/mwydmuch/extremeText" target="_blank">
                        <img class="img-side-col" src="{{ './assets/logos/extremetext.png' | relative_url }}" alt="extremeText logo">
                    </a>
                </div>
                <div class="column col-8 col-md-12 text-center">
                    <p>
                        <strong>extremeText</strong> extends fastText to support multi-label classification, including extreme settings with hundreds of thousands or millions of labels.
                    </p>
                    <span class="nowrap">[<a href="https://github.com/mwydmuch/extremeText" target="_blank"><i class="fa fa-github" aria-hidden="true"></i>&nbsp;code</a>]</span>
                </div>
            </div>
            <div class="columns software-item">
                <div class="column col-4 col-md-12 text-center img-side-col-container">
                    <a class="video-thumbnail" href="https://www.reddit.com/r/midjourney/comments/14jcyqs/cats_living_in_the_abandoned_city_my_first_zoom/" aria-label="Play VideoZoomComposer infinite zoom demo" target="_blank">
                        <img class="img-side-col" src="assets/thumbnails/cats_zoom_video_thumbnail.jpg" alt="VideoZoomComposer infinite zoom demo thumbnail">
                        <span class="video-play-button" aria-hidden="true"><i class="fa-solid fa-play" aria-hidden="true"></i></span>
                    </a>
                </div>
                <div class="column col-8 col-md-12 text-center">
                    <p>
                        <strong>Bonus: VideoZoomComposer is a Python tool for creating infinite zoom-in and zoom-out videos.</strong>
                        Inspired by MidJourney's zoom-out feature and by many YouTube videos that handled zoom-ins incorrectly,
                        I built a simple tool that does it the right way.
                        <!-- It uses smooth zoom interpolation and basic image blending, and supports configurable duration,
                        resolution, frame rate, zoom direction, easing, and optional audio. -->
                    </p>
                    <span class="nowrap">[<a href="https://github.com/mwydmuch/ZoomVideoComposer" target="_blank"><i class="fa fa-github" aria-hidden="true"></i>&nbsp;code</a>]</span>
                </div>
            </div>
            <div class="columns software-item">
                <div class="column col-4 col-md-12 text-center img-side-col-container">
                    <a class="video-thumbnail" href="https://www.youtube.com/watch?v=OdwX4_inNVM" aria-label="Play Leap Motion support for Jedi Knight II: Jedi Outcast video" target="_blank">
                        <img class="img-side-col" src="assets/thumbnails/leap_motion_jedi_knight_thumbnail.jpg" alt="Jedi Knight II: Jedi Outcast Leap Motion demo thumbnail">
                        <span class="video-play-button" aria-hidden="true"><i class="fa-solid fa-play" aria-hidden="true"></i></span>
                    </a>
                </div>
                <div class="column col-8 col-md-12 text-center">
                    <p>
                        <strong>Bonus: Leap Motion controller support for Jedi Knight II: Jedi Outcast, enabling using force powers through hand gestures.</strong>
                        For one of my bachelor's degree assignments, I modified the
                        <a href="https://code.idtech.space/raven/jedioutcast" target="_blank">source code of Jedi Knight II: Jedi Outcast</a>
                        (one of my favorite childhood games), shortly after it was released as open source.
                        Unfortunately, I cannot share the code because I somehow lost the final version,
                        but you can see it in action in the video.
                    </p>
                    <span class="nowrap">[<a href="https://www.youtube.com/watch?v=OdwX4_inNVM" target="_blank"><i class="fa-brands fa-youtube" aria-hidden="true"></i>&nbsp;video</a>]</span>
                </div>
            </div>
        </div>
    </div>
    <label style="display: inline-block; margin-top: 0.6rem;" for="more-software" class="chip read-more-trigger link-style"></label>
</section>
