<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    <div id="background-controls-bar">
        [<a href="{{ './' | relative-url }}" id="background-settings-home" ><i class="fas fa-home"></i>&nbsp;home</a>]
        {% comment %}
        [<a href="{{ './blog' | relative-url }}"><i class="fa fa-pen-to-square"></i>&nbsp;blog</a>] 
        {% endcomment %}
        <span class="nowrap" style="border-left: 1px solid white; margin-left: 0.25rem; padding-left: 0.35rem">
            [<a id="background-settings"><i class="fas fa-cog"></i> settings / <i class="fas fa-file-lines"></i> description</a>]
        </span>
        <span style="border-left: 1px solid white; margin-left: 0.25rem; padding-left: 0.35rem">Animation: <span id="background-name"></span></span>
        <span style="float: right;"><i class="fa fa-code"></i> with <i class="fa fa-keyboard"></i> by Marek Wydmuch</span>
    </div>

    <!-- Animated background -->
    <div id="background-container" class="animation-container">
        <canvas id="background" class="animation"> </canvas>
    </div>

    {% include animation-controls.html controls-title="ANIMATION SETTINGS" controls-style="left: 1rem; top: 2.4rem;" %}
    
    {% include js.html %}
</body>
</html>