<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>

<header>
    {% include blog-nav.html %}
</header>

{% if site.paginate %}
    {% assign posts = paginator.posts %}
{% else %}
    {% assign posts = site.posts %}
{% endif %}

<div id="main-content" class="main-content">
    <section class="container grid-lg">
        <div class="columns">
            <div class="column">
                {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}
        
                {%- for post in posts -%}
                    <a href="{{ post.url | relative_url }}">
                    <div class="post-item">   
                        <div class="header-image-wrapper">
                            <img src="{{ post.image | relative_url }}" alt="{{ post.title | escape }}">
                        </div>
                        <h2><span class="reverse-second">{{ post.title | escape }}</span></h2>
                        <span class="reverse-second">Posted: {{ post.date | date: date_format }}</span>
                        <!-- <span>
                            Tags:
                            {% for tag in post.tags %}
                                <a href="/tags/{{ tag }}">{{ tag }}</a>
                            {% endfor %}
                        </span> -->                           
                        <p>
                            {{ post.content | strip_html | escape | truncate: 470}} <span style="float: right;">[Read more...]</span>
                        </p>
                    </div>
                    </a>
                {%- endfor -%}
                    
                {% if site.paginate %}
                <!-- Pagination -->
                <ul class="pagination">
                    {%- if paginator.previous_page %}
                    <li class="page-item">
                        [<a href="{{ paginator.previous_page_path | relative_url }}" tabindex="-1"><i class="fa-solid fa-angle-left"></i> Previous</a>]
                    </li>
                    {%- else %}
                    <li class="page-item disabled">
                        [<a href="#" tabindex="-1"><i class="fa-solid fa-angle-left"></i> Previous</a>]
                    </li>
                    {%- endif %}

                    {% for page in (1..paginator.total_pages) %}
                        {% if page == paginator.page %}
                        <li class="page-item active">
                            <a href="#">{{ page }}</a>
                        </li>
                        {% elsif page == 1 %}
                        <li class="page-item">
                            [<a href="{{ '/blog' | relative_url }}">{{ page }}</a>]
                        </li>
                        {% else %}
                        <li class="page-item">
                            [<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>]
                        </li>
                        {% endif %}
                    {% endfor %}

                    {%- if paginator.next_page %}
                    <li class="page-item">
                        [<a href="{{ paginator.next_page_path | relative_url }}">Next <i class="fa-solid fa-angle-right"></i></a>]
                    </li>
                    {%- else %}
                    <li class="page-item disabled">
                        [<a href="#">Next <i class="fa-solid fa-angle-right"></i></a>]
                    </li>
                    {%- endif %}
                </ul>
                {%- endif %}
            </div>
        </div>
    </section>
</div>

{% include footer.html %}
{% include js.html %}

</body>
</html>