<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    {% include post-header.html %}

    <div id="main-content" class="main-content">
        <section class="container grid-lg">
            <div class="columns">
              <div class="column">
                    {{ content }}
                </div>
            </div>
        </section>
        <section>
            {%- if site.disqus.shortname -%}
                {%- include disqus_comments.html -%}
            {%- endif -%}
        </section>
    </div>

    {% include footer.html %}
</body>
</html>