// Old color palette
@background: #280765;
@main: #FFFFFF;
@main-grey: #E1E1E1;
@dark1: #770E5A;
@dark2: #5A0E5E;
@dark3: #360E5D;
@dark4: #360962;

// Color palette
@background: #FFFFFF;
@main-text: #252525;
//@main: #43696B;
//@main-light: #43696B;
//@main-dark: #38575A;

@main: #F6CE00;
@main-light: #f6bd00;

//@main-gradient: linear-gradient(135deg, #349BA9, #AEEABF);
//@main-gradient: linear-gradient(135deg, #38575A, #43696B);
@main-gradient: linear-gradient(135deg, #0058B5, #0070b5);
@ua-gradient: linear-gradient(180deg, #0058B5 0%, #0058B5 40%, #F6CE00 60%, #F6CE00 100%);
@ua-pl-gradient: conic-gradient(from 10deg, #0058B5 0deg, #0058B5 70deg, #F6CE00 90deg, #F6CE00 160deg, #E52C2C 180deg, #E52C2C 250deg, #FFFFFF 270deg, #FFFFFF 340deg, #0058B5 360deg);

// Other colors
@mlinpl-red: #E52C2C;
@mlinpl-purple: #7F4FB2;
@put-blue: #006991;

@mlinpl-red-gradient: linear-gradient(135deg, #E52C2C, #F13F3F);


// Others
@font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
@global-radius: 4px;
@global-border-width: 4px;


// Base Styles
// ---------------------------------------------------------------------------------------------------------------------

body {
  margin: 0;
  line-height: 1.6;
  font-weight: 400;
  font-family: @font-family;
  color: @main-text;
  background: @background;
}

a, a:link, a:visited, a:hover, a:active {
  color: @main-light;
  font-weight: 700;
  cursor: pointer;
  white-space: nowrap;
}


// Typography
// ---------------------------------------------------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 400;
}

p {
  margin: 0.25rem;
}

.inline{
  display: inline;
}

.justify{
  text-align: justify;
}

.reverse, .reverse-red, .reverse-purple, .reverse-blue {
  color: @background;
  padding: 0.05rem 0.25rem;
  margin: 0 0.05rem;
  white-space: nowrap;

  a, a:link, a:visited, a:hover, a:active {
    color: @background;
  }
}

.reverse{
  //background: @main;
  background-image: @main-gradient;
}

.reverse-red{
  //background: @mlinpl-red;
  background-image: @mlinpl-red-gradient
}

.reverse-purple{
  background: @mlinpl-purple;
}

.reverse-blue{
  background: @put-blue;
}

.accordion-body{
  margin-left: 0.4rem;
}

.accordion input:checked~.accordion-body, .accordion[open] .accordion-body{
  max-height: 100rem !important;
}

ul{
  list-style-position: outside;
  list-style-type: square;
  margin-left: 1rem;
  //text-align: justify;
}

.month-year-date-li{
  text-indent: -3.6rem;
  padding-left: 3.6rem;

  i{
    text-indent: 0;
  }
}

// Layout
// ---------------------------------------------------------------------------------------------------------------------

#background{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

#me{
  text-align: center;
  margin: 1.4rem 0;

  .section{
    margin-bottom: 1rem;
    z-index: 100;
    position: relative;
  }

  #photo{
    height: 10rem;
    margin: 1rem;

    img {
      box-sizing: border-box;
      // Old solid border
      //border-radius: 100%;
      //border: @global-border-width solid @main;

      // New gradient border
      border-radius: 100%;
      border: double @global-border-width transparent;
      //background-image: @main-gradient;
      background-image: @ua-gradient;
      //background-image: @ua-pl-gradient;
      background-origin: border-box;
      height: 100%;
    }
  }

  #name{
    display: inline-block;
  }

  #about {
    font-weight: 700;
  }

  #profiles{
    font-weight: 700;

    .profile-link{
      padding: .15rem .5rem;
      border: 2px solid @main;
      color: @main;
      background: none;
      transition: all;
      transition-duration: 0.5s;
      transition-timing-function: ease;
      display: inline-block;
      box-sizing: border-box;
      margin: 0.15rem 0.25rem;

      &:hover{
        background: @main;
        color: @background;
      }
    }
  }
}

.keyframes(@name, @rules) {
  @keyframes @name {
    @rules();
  }
}

@animation-duration: 0.5s;
@grayscale: 100%;
@fade-show-values: 0, 10;

@keyframes fade-out-animation {
  0% { opacity: 1; visibility: visible; }
  99% { opacity: 0; }
  100%{ opacity: 0; visibility: hidden; }
}

@keyframes fade-in-animation {
  0% { opacity: 0; visibility: hidden; }
  99% { opacity: 1; }
  100%{ opacity: 1; visibility: visible; }
}

.fade-out{
  animation: fade-out-animation;
  animation-duration: @animation-duration;
  animation-timing-function: ease;
  visibility: hidden;
}

.fade-in{
  animation: fade-in-animation;
  animation-duration: @animation-duration;
  animation-timing-function: ease;
  visibility: visible;
}


each(@fade-show-values, {
  .keyframes(%("fade-to-%s-animation", @value), {
    from {opacity: 100%; filter: grayscale(0%);}
    to {opacity: percentage(@value / 100); filter: grayscale(@grayscale);}
  });

  .keyframes(%("show-from-%s-animation", @value), {
    from {opacity: percentage(@value / 100); filter: grayscale(@grayscale);}
    to {opacity: 100%; filter: grayscale(0%);}
  });

  .faded-@{value} {
    opacity: percentage(@value / 100);
    filter: grayscale(@grayscale);
  }

  .fade-to-@{value} {
    animation: %("fade-to-%s-animation", @value);
    animation-duration: @animation-duration;
    animation-timing-function: ease;
    opacity: percentage(@value / 100);
    filter: grayscale(@grayscale);
  }

  .show-from-@{value}{
    animation: %("show-from-%s-animation", @value);
    animation-duration: @animation-duration;
    animation-timing-function: ease;
    opacity: 100%;
    filter: grayscale(0%);
  }
});

@keyframes hue-animation {
  0% {filter: hue-rotate(0deg);}
  25% {filter: hue-rotate(20deg);}
  50% {filter: hue-rotate(0deg);}
  75% {filter: hue-rotate(-20deg);}
  100% {filter: hue-rotate(0deg);}
}

.hue-change{
  animation: hue-animation;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.hide{
  display: none;
}

#footer{
  text-align: center;
  margin: 1.6rem 0;
  font-size: 0.7rem;

  #background-controls, #background-settings-controls {
    color: @background;
    padding: 0 0.25rem;
    margin: 0 0.1rem;
    display: inline-block;
    //background: @main;
    background-image: @main-gradient;

    a, a:link, a:visited, a:hover, a:active {
      color: @background;
    }
  }

  #background-settings-controls {
    position: fixed;
    top: 10px;
    left: 10px;
    display: none;
    z-index: 1000;
    padding: 0.25rem;
    cursor: move;

    #background-settings-controls-list{
      cursor: default;
      text-align: left;
      border-top: 1px solid @background;
      margin-top: 0.1rem;

      .setting-name{
        width: 7.5rem;
        display: inline-block;
      }

      .setting-input{
        width: 5rem;
        height: 0.5rem;
        margin: 0 0.25rem;
        display: inline-block;
      }

      .setting-select{
        width: 7.5rem;
        height: 1rem;
        margin: 0 0.25rem;
        display: inline-block;
      }

      .setting-value{
        text-align: center;
        width: 2rem;
        display: inline-block;
      }
    }

    #background-settings-close {
      float: right;
      cursor: pointer;
      margin-left: 0.5rem;
    }
  }
}
