// Colors
// ---------------------------------------------------------------------------------------------------------------------

// Basic palette
@background: #FFFFFF;
@main-text: #252525;
@main: #43696B;
@second: #43696B;

//@main-gradient: linear-gradient(135deg, #349BA9, #AEEABF);
//@main-gradient: linear-gradient(135deg, #43696B, #349BA9);
@main-gradient: linear-gradient(135deg, #38575A, #43696B);

// Ukraine colors
@ua-yellow: #F6CE00;
@ua-blue: #0058B5;
@ua-flag-gradient: linear-gradient(180deg, @ua-blue 0%, @ua-blue 40%, @ua-yellow 60%, @ua-yellow 100%);

//@main: @ua-yellow;
//@second: @ua-blue;
//@main-gradient: linear-gradient(135deg, @second, lighten(@second, 5%));


// Other colors and gradients
@mlinpl-red: #E52C2C;
@mlinpl-purple: #7F4FB2;
@put-blue: #006991;
@yahoo-purple: #6000D3;
@vizdoom-red: #8B0000;
@openai-blue: #21AEB9;
@farama-green: #05505B;
@color-names: main, second, mlinpl-red, mlinpl-purple, put-blue, yahoo-purple, vizdoom-red, openai-blue, farama-green;


// Others
@font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
@global-radius: 4px;
@global-border-width: 4px;
@global-animation-duration: 0.5s;


// Base Styles
// ---------------------------------------------------------------------------------------------------------------------

body {
  margin: 0;
  line-height: 1.6;
  font-weight: 400;
  font-family: @font-family;
  color: @main-text;
  background: @background;
}

a, a:link, a:visited, a:hover, a:active {
  color: @second;
  font-weight: 700;
  cursor: pointer;
}


// Typography
// ---------------------------------------------------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 400;
}

p {
  margin: 0.25rem;
}

ol, ul {
  margin: 0.25rem 0.75rem;

  li {
    margin-top: 0.25rem;
  }

  ol, ul {
    margin: 0 0.75rem;
  }
}

.inline{
  display: inline;
}

.justify{
  text-align: justify;
}

.nowrap{
  //display: inline-block;
  white-space: nowrap;
}

// Generate reverse spans for all colors
each(@color-names, {
  @gradient-var:~"@@{color-names}-gradient";

  .reverse-@{value}{
    color: @background;
    padding: 0.05rem 0.25rem;
    margin: 0 0.05rem;
    white-space: nowrap;
    background-image: linear-gradient(135deg, @@value, lighten(@@value, 5%));

    a, a:link, a:visited, a:hover, a:active {
      color: @background;
    }
  }
});

.reverse-ua-gradient{
  color: @background;
  padding: 0.05rem 0.25rem;
  margin: 0 0.05rem;
  white-space: nowrap;
  background-image: @ua-flag-gradient;

  a, a:link, a:visited, a:hover, a:active {
    color: @background;
  }
}

.accordion-body{
  margin-left: 0.4rem;
}

.accordion input:checked~.accordion-body, .accordion[open] .accordion-body{
  max-height: 100rem !important;
}

ul{
  list-style-position: outside;
  list-style-type: square;
  margin-left: 1rem;
  //text-align: justify;
}

.date-li{
  text-indent: -3.6rem;
  padding-left: 3.6rem;

  .date-span{
    width: 3.6rem;
    display: inline-block;
    padding-left: 3.6rem;
  }

  i{
    text-indent: 0;
  }
}


// Layout
// ---------------------------------------------------------------------------------------------------------------------

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.animation-container {
  position: relative;
}


// Me section
// ---------------------------------------------------------------------------------------------------------------------

#me{
  text-align: center;
  margin: 1.4rem 0;

  .section{
    margin-bottom: 1rem;
    z-index: 100;
    position: relative;
  }

  #photo{
    height: 10rem;
    margin: 1rem;

    img {
      box-sizing: border-box;
      // Old solid border
      //border-radius: 100%;
      //border: @global-border-width solid @main;

      // New gradient border
      border-radius: 100%;
      border: double @global-border-width transparent;
      background-image: @main-gradient;
      background-origin: border-box;
      height: 100%;
    }
  }

  #name{
    display: inline-block;
  }

  #about {
    font-weight: 700;
  }

  #profiles{
    font-weight: 700;

    .profile-link{
      padding: .15rem .5rem;
      border: 2px solid @main;
      color: @main;
      background: none;
      transition: background @global-animation-duration, color @global-animation-duration;
      transition-timing-function: ease;
      display: inline-block;
      box-sizing: border-box;
      margin: 0.15rem 0.25rem;

      &:hover{
        background: @main;
        color: @background;
      }
    }
  }
}


// Animations
// ---------------------------------------------------------------------------------------------------------------------

.keyframes(@name, @rules) {
  @keyframes @name {
    @rules();
  }
}

@grayscale: 100%;
@fade-show-values: 0, 10;

@keyframes fade-out-animation {
  0% { opacity: 1; visibility: visible; }
  99% { opacity: 0; }
  100%{ opacity: 0; visibility: hidden; }
}

@keyframes fade-in-animation {
  0% { opacity: 0; visibility: hidden; }
  99% { opacity: 1; }
  100%{ opacity: 1; visibility: visible; }
}

.fade-out{
  animation: fade-out-animation;
  animation-duration: @global-animation-duration;
  animation-timing-function: ease;
  visibility: hidden;
}

.fade-in{
  animation: fade-in-animation;
  animation-duration: @global-animation-duration;
  animation-timing-function: ease;
  visibility: visible;
}


each(@fade-show-values, {
  .keyframes(%("fade-to-%s-animation", @value), {
    from {
      opacity: 100%;
      //filter: grayscale(0%);
    }
    to {
      opacity: percentage((@value / 100));
      //filter: grayscale(@grayscale);
    }
  });

  .keyframes(%("show-from-%s-animation", @value), {
    from {
      opacity: percentage((@value / 100));
      //filter: grayscale(@grayscale);
    }
    to {
      opacity: 100%;
      //filter: grayscale(0%);
    }
  });

  .faded-@{value} {
    opacity: percentage((@value / 100));
    //filter: grayscale(@grayscale);
  }

  .fade-to-@{value} {
    animation: %("fade-to-%s-animation", @value);
    animation-duration: @global-animation-duration;
    animation-timing-function: ease;
    opacity: percentage((@value / 100));
    //filter: grayscale(@grayscale);
  }

  .show-from-@{value}{
    animation: %("show-from-%s-animation", @value);
    animation-duration: @global-animation-duration;
    animation-timing-function: ease;
    opacity: 100%;
    //filter: grayscale(0%);
  }
});

.hide{
  display: none;
}

.moving {
  transition: opacity @global-animation-duration;
  opacity: 0.75;
}


// Footer
// ---------------------------------------------------------------------------------------------------------------------

#footer {
  text-align: center;
  margin: 1.6rem 0;
  font-size: 0.7rem;
}


// Background/animation settings
// ---------------------------------------------------------------------------------------------------------------------

#background-controls, #background-settings-controls {
  color: @background;
  padding: 0 0.25rem;
  margin: 0 0.1rem;
  display: inline-block;
  //background: @main;
  background-image: @main-gradient;

  a, a:link, a:visited, a:hover, a:active {
    color: @background;
  }
}

.floating-controls {
  position: fixed;
  top: 10px;
  left: 10px;
  display: none;
  z-index: 1000;
  padding: 0.25rem;
  cursor: move;
}

#background-settings-controls {
  transition: opacity @global-animation-duration;
  width: 19rem;
  max-height: 100%;
  overflow: auto;

  .settings-section{
    cursor: default;
    text-align: left;
    border-top: 1px solid @background;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    width: 100%;
    white-space: normal;

    .setting-name{
      //width: 9rem;
      display: inline-block;
    }

    .setting-value-control {
      float: right;

      .setting-input {
        width: 6rem;
        height: 0.5rem;
        margin-right: 0.25rem;
        display: inline-block;
        text-align: center;
      }

      .setting-select {
        width: 9rem;
        height: 1rem;
        display: inline-block;
        float: right;
      }

      .setting-value {
        text-align: center;
        width: 2.5rem;
        display: inline-block;
      }
    }
  }

  #background-settings-close {
    float: right;
    cursor: pointer;
    margin-left: 0.5rem;
  }
}


// Input fixes
// ---------------------------------------------------------------------------------------------------------------------

.slider::-webkit-slider-thumb, .slider::-moz-range-thumb {
  background: @main-gradient;
  border: 2px solid @background;
}

.form-checkbox input:checked + .form-icon, .form-radio input:checked + .form-icon, .form-switch input:checked + .form-icon {
  background: @main-gradient;
  border: 2px solid @background;
}

.form-checkbox input:focus + .form-icon, .form-radio input:focus + .form-icon, .form-switch input:focus + .form-icon {
  border-color: @main;
}

.form-checkbox, .form-radio, .form-switch {
  padding: 0;
  margin: 0;
  min-height: 0;
}

.form-checkbox .form-icon, .form-radio .form-icon {
  left: unset;
  top: unset;
  margin-left: -0.4rem;
  margin-top: -0.15rem;
}